{% extends 'base.html.twig' %}


{% block body %}

<div class="container">
{{ form(form)  }}
    {% for msg in app.flashes('success_changed_password') %}
        <div class="row">
            <div class="center">
                <h6>{{ msg }}</h6>
            </div>

        </div>
    {% endfor %}
</div>


{% endblock %}