{# templates/emails/registration.html.twig #}
<h3>You did it! You registered!</h3>

Hi {{ users.username }}! You're successfully registered.

{# example, assuming you have a route named "login" #}
To Verify, go to: <a href="{{ url('homepage') }}">...</a>.

Thanks!

{# Makes an absolute URL to the /images/logo.png file #}
<img src="{{ absolute_url(asset('build/images/Logo.f5a4542a.png')) }}">