{% extends 'base.html.twig' %}

{% block body %}
          <!-- header!-->

    <header class="white-text">
        <div class="container center valign-wrapper">
            <div class="row">
                <div class="col s12 white-text">
                    <img class="responsive-img" src="{{ asset('build/images/Logo.f9a8d821.png') }}" alt="Logo">
                </div>
                <div class="col s12">
                    <a href="#propertySection" id="menu" class="waves-effect waves-light btn btn-floating cyan lighten-3 pulse" onclick="$('.tap-target').tapTarget('close');"></a>
                </div>
            </div>
        </div>

    </header>
     <div>
         {{ render(controller('App\\Controller\\PropertiesController::getFeaturedProp')) }}
     </div>
         <!-- header!-->

        <!--!-->
        <!-- feature discovery!-->

        <div class="tap-target grey darken-4" data-target="menu">
            <div class="tap-target-content">
                <h5>Explore Properties</h5 >
                <p>Click the icon</p>
            </div>
        </div>
        <!-- feature discovery!-->

        <!-- properties!-->
               <div class="section scrollspy center-align" id="propertySection">
                           {{ render(controller('App\\Controller\\PropertiesController::getFilterForm')) }}
               </div>
                <div id="propertyContainer">

                </div>
        <!-- properties!-->

{% endblock %}


{% block javascripts %}
    {{ parent() }}

{% endblock %}