{% extends 'base.html.twig' %}

{% block title %}Top-Notch{% endblock %}

{% block body %}
            {% if is_granted('ROLE_USER') %}
                <h1>works</h1>
            {% endif %}
        <a href="{{ path('security_logout') }}">LOGOUT</a>
        <header class="box">
            <div class="scroll-featured">
                <div class="scroll-featured-P">
                    <a href="#properties" id="menu" class="waves-effect waves-light btn btn-floating cyan lighten-3" onclick="$('.tap-target').tapTarget('close');"><i class="material-icons">arrow_downward</i></a>
                </div>
            </div>
            <div class="main_pageL"></div>
            <div class="main_pageB2"></div>
            <div class="main_pageB1"></div>
            <div class="main_fill"></div>

        </header>
        <!--!-->
        <!-- feature discovery!-->
        <div class="tap-target grey darken-4" data-target="menu">
            <div class="tap-target-content">
                <h5>Get Started</h5 >
                <p>Click the icon</p>
            </div>
        </div>
        <!-- feature discovery!-->

        <!-- properties!-->
        <div class="container">
          <div class="row section scrollspy" id="properties">
              <div class="center-align">
                  <h3>hello Properties</h3>
              </div>
          </div>



        </div>
        <!-- properties!-->

{% endblock %}


{% block javascripts %}
    {{ parent() }}

{% endblock %}