{% extends 'base.html.twig' %}

{% block body %}
          <!-- header!-->
        <header class="box">
            <div class="scroll-featured">
                <div class="scroll-featured-P">
                    <a href="#propertyContainer" id="menu" class="waves-effect waves-light btn btn-floating cyan lighten-3 pulse" onclick="$('.tap-target').tapTarget('close');">

                    </a>
                </div>
            </div>
            <div class="main_pageL"></div>
            <div class="main_pageB2"></div>
            <div class="main_pageB1"></div>
            <div class="main_fill"></div>

        </header>
         <!-- header!-->
        <!--!-->
        <!-- feature discovery!-->
        <div class="tap-target grey darken-4" data-target="menu">
            <div class="tap-target-content">
                <h5>Explore Properties</h5 >
                <p>Click the icon</p>
            </div>
        </div>
        <!-- feature discovery!-->

        <!-- properties!-->

        <div class="container section scrollspy">


                <div id="propertyContainer">

                </div>


        </div>
        <!-- properties!-->

{% endblock %}


{% block javascripts %}
    {{ parent() }}

{% endblock %}