{% extends 'base.html.twig' %}

{% block body %}
    <h1>Access Denied</h1>

    <p>
        The requested page is not accessible. Please register as Vendor or <a href="{{ path('homepage') }}">return to the homepage</a>.
    </p>
{% endblock %}